.section {
  /*min-height: 800px;*/

  padding: 64px 0;

  &.landing-section {
    min-height: calc(100vh - 61px);
    padding: 0;
  }

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0px 1px 0 var(--border-color);
  overflow: hidden;

  // min 1047px
  .landing-section-container {
    width: calc(100% - 50px);
    padding: 0 25px;
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .landing-section-quote-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 8px;

      z-index: 10;

      .landing-section-quote {
        font-size: 48px;
        font-weight: 500;
        line-height: 44px;
      }

      .landing-section-quote-writer {
        width: 100%;
        margin-top: 24px;
        font-size: 18px;
        line-height: 32px;
      }

      .join-button {
        margin-top: 24px;

        height: 44px;
        width: 152px;
        border-radius: var(--border-radius);
        font-size: 14px;
        font-weight: 400;
        padding: 0 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--text-color);
        color: var(--background-color);
        border: none;

        transition: var(--transition);
        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }
    }

    .landing-section-image {
      height: 600px;
      flex: 1.5;
      object-fit: contain;

      &:hover {
        cursor: move;
      }
    }

    @media only screen and (max-width: 1047px) {
      .landing-section-quote-container {
        .landing-section-quote {
          font-size: 36px;
          line-height: 36px;
        }

        .landing-section-quote-writer {
          font-size: 16px;
          line-height: 24px;
        }
      }

      .landing-section-image {
        height: 400px;
        flex: none;
        object-fit: contain;

        z-index: 0;
      }
    }

    @media only screen and (max-width: 700px) {
      .landing-section-image {
        height: 300px;
        flex: none;
        object-fit: contain;

        z-index: 0;
      }
    }

    @media only screen and (max-width: 600px) {
      flex-direction: column;

      .landing-section-image {
        top: calc(20vw);
        position: absolute;
        height: 200px;
        flex: none;
        object-fit: contain;

        z-index: 0;
      }

      .landing-section-quote-container {
        pointer-events: none;
        align-items: end;

        .landing-section-quote {
          text-shadow: 2px 2px 2px black;
        }

        .landing-section-quote-writer {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }

    @media only screen and (max-width: 400px) {
      .landing-section-quote-container {
        .landing-section-quote {
          font-size: 36px;
          line-height: 36px;
        }

        .landing-section-quote-writer {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }

  .section-container {
    width: calc(100% - 50px);
    padding: 0 25px;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;

    .section-title {
      font-size: 32px;
      font-weight: 500;
      margin-bottom: 48px;
    }

    .video-container {
      aspect-ratio: 16/9;
      height: 80%;
      border-radius: var(--border-radius);
      overflow: hidden;
    }

    .past-activities-container {
      .past-activity-container {
        display: flex;
        flex-direction: row;
        border-radius: var(--border-radius);
        border: 1px solid var(--border-color);
        margin-top: 48px;

        .past-activity-info {
          flex: 1;
          background-color: rgba(255, 255, 255, 0.034);
          backdrop-filter: blur(5px);

          .past-activity-name {
            padding: 24px;
            font-size: 24px;
            font-weight: 500;
          }
          .past-activity-location {
            padding: 0 24px;
            font-size: 16px;
            font-weight: 400;
          }
          .past-activity-date {
            padding: 0 24px;
            font-size: 16px;
            font-weight: 400;
          }
          .past-activity-desc {
            padding: 24px 24px;
            font-size: 16px;
            font-weight: 400;
          }
        }
        .past-activity-images {
          flex: 1;
          overflow: hidden;

          border-top-right-radius: var(--border-radius);
          border-bottom-right-radius: var(--border-radius);

          display: flex;
          flex-direction: row;

          .past-activity-image {
            width: 100%;
            height: 400px;
            object-fit: cover;
          }
        }

        @media only screen and (max-width: 580px) {
          flex-direction: column;
        }
      }
    }

    .board-members {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 16px;

      .board-member {
        flex: 1;
        flex-basis: 160px;
        max-width: 160px;

        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid var(--border-color);
        border-radius: var(--border-radius);
        overflow: hidden;

        .board-member-image {
          width: 100%;
          aspect-ratio: 1/1;
          object-fit: cover;
        }

        .board-member-info {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;

          padding: 12px 0;

          background-color: rgba(255, 255, 255, 0.034);
          backdrop-filter: blur(5px);

          .board-member-name {
            font-size: 18px;
            font-weight: 500;
            color: var(--text-color);
            margin-top: 8px;
          }

          .board-member-role {
            font-size: 14px;
            font-weight: 400;
            color: var(--text-color);
            padding-bottom: 8px;
          }
        }
      }
    }
  }
}
